.theme-default-content.content__default,
.page .page-nav
  margin: 0
  max-width none

.no-sidebar-nav-page
  max-width 80%
  margin: 0 auto

.global-ui .go-to-top
  bottom: 7rem

.hero #main-title
  font-size: 2rem
